WS_URL=wss://api.hyperliquid.xyz/ws
COINS=BTC,ETH,SOL
PING_SECONDS=45
RECONNECT_BASE_DELAY=1.5
RECONNECT_MAX_DELAY=30
LOG_LEVEL=INFO
DB_DSN=postgresql://<db_user>:<db_password>@localhost:5432/<db_name> #change me 